// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drink-profile{
  border-radius: 50%;
  width: 200px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
